.contactus{
    background-color: black;
    color: white;
    /* height: 100vh; */
}


.contact-heading h1{
 font-size:4rem ;
 text-align: center;
}
.contact-heading span{
    color: #c48f56;
}
.h{
    font-size: 25px;
}

.dial-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
}
.phone-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.phone-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    margin-left: 60px;
}
.phone-number{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    font-weight: 900;
}
.phone-text{
     padding:  1rem;
     text-align: center;
     /* width: 250px; */
     /* margin: auto; */
}
.form_image img{
    width: 400px;
    filter: brightness( 67% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}
.form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-right: 83px; */
    /* margin-left: -35px; */
    /* padding: 25px 178px; */
}
#exampleInput7{
    /* padding: 20px; */
    padding:20px 80px ;
}
#exampleInput8{
    padding:20px 80px ;
}

.form-input{
    width: 450px;
}