
.IntroMain{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.IntroMain-LeftDiv{
    margin-right: 0%;
    padding: 30px;
}
.IntroMain-LeftDiv > .span{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
}
.IntroMain-LeftDiv >.span >.span1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #c48f56
}
.IntroMain-LeftDiv > .p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #989898;
    margin-top: 23px;
}
.IntroMain-LeftDiv >.ReadMore{
    margin-top: 20px; 
}
.IntroMain-LeftDiv > .ReadMore > .span{
    font-size: 12px;
    font-weight: 700;
    line-height: 29px;
}
.IntroMain-LeftDiv > .ReadMore > .span:hover{
    color: #c48f56;
}

.IntroMain-RightDiv >.h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 17px;
    /* margin-bottom: 23px; */
}
.IntroMain-RightDiv > .hr{
    width: auto;
    color: #989898;
    margin:15px -200px 15px 0px;
}
.IntroMain-RightDiv >.p{
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    color: #989898;
    margin: 17px 10px;
}
.IntroMain-RightDiv >.p:hover{
    color:#c48f56
}
@media(max-width:600){
    .IntroMain-LeftDiv > .span{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #ffffff;
       
    }
    .IntroMain-LeftDiv >.span >.span1{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #c48f56;
      
    } 
    .IntroMain-LeftDiv{
       
    }
   
   
   
}
